<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Subject:</b>
  <%= @note.subject %>
</p>

<p>
  <b>Academic class:</b>
  <%= @note.academic_class %>
</p>

<p>
  <b>App file name:</b>
  <%= @note.app_file_name %>
</p>

<p>
  <b>App file size:</b>
  <%= @note.app_file_size %>
</p>

<p>
  <b>App content type:</b>
  <%= @note.app_content_type %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
