<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" style="border:1px solid black;border-color:#CC0000; font-size:14px;text-align:left;">     
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>,
      <% end %>
      
    </div>
  <% end %>
<table>
  <div class="field">
    <tr><td>
      <%= f.label :firstname %></td><td>
      <%= f.text_field :firstname %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :lastname %></td><td>
      <%= f.text_field :lastname %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :email %></td><td>
      <%= f.text_field :email %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :phone_number %></td><td>
      <%= f.text_field :phone_number %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :username %></td><td>
      <%= f.text_field :username %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :password %></td><td>
      <%= f.password_field :password %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :password_confirmation, 'Confirm' %></td><td>
      <%= f.password_field :password_confirmation %>
    </td></tr>
  </div>
  <div class="actions">
    <tr><td>
      <%= submit_tag "Create", :class=>"btn btn-medium btn-success" %>
    </td></tr>
  </div>
<% end %>
</table>
