<% @page_title = "Subjects|show" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Subjectname:</b>
  <%= @subject.subjectname %>
</p>

<p>
  <b>Subjectlevel:</b>
  <%= @subject.subjectlevel %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject),:class=>"btn-link" %> |
<%= link_to 'Back', subjects_path,:class=>"btn-link" %>
