<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= @page_title || 'Admin'%></title>
        <%=stylesheet_link_tag('bootstrap-responsive', :media =>'all')%>
        <%=stylesheet_link_tag('bootstrap-responsive.min', :media =>'all')%>
        <%=stylesheet_link_tag('bootstrap', :media =>'all')%>
        <%=stylesheet_link_tag('bootstrap.min', :media =>'all')%>
        <%=javascript_include_tag('bootstrap')%>
        <%=javascript_include_tag('bootstrap.min')%>
    </head>
    <body>
        <div class="container">
            <div class="row-fluid" style="color:#fff;">
                <header class="span6">Welcome to the Soma system</header>
                <header class="span6" style="text-align:right;">
                   <%if !session[:user_id].blank? %>                        
                        Hello <%= session[:firstname]%> <%= session[:lastname]%>
                         <%= link_to 'Logout', {:controller=>'sessions', :action=>'logout'}, :class=>"btn btn-small btn-success" %>
                    <%else%>
                        <%= link_to("Login",{:controller=>'sessions',:action=>'login'}, :class=>"btn btn-small btn-success")%>
                    <%end%>
                </header>
            </div>
            <div class="hero-unit" style="background:#ccc;">
                Header
            </div>

            <div class="navbar">
                <div class="navbar-inner" style="background:#333;">
                    <div class="container">
                        <ul class="nav">
                            <li class="nav"><%= link_to("Home", :controller=>'main', :action=>'index')%></li>
                            <li><%= link_to("About us", :controller=>'main', :action=>'aboutus')%></li>
                            <li><%= link_to("Contact", :controller=>'main', :action=>'contactus')%></li>
                            <li><%= link_to("Services" )%></li>
                            <li><%= link_to("Schools", :controller=>'main', :action=>'schools')%></li>
                            <li><%= link_to("Revision")%></li>
                            <li><%= link_to("UNEB Papers")%></li>
                            <%if !session[:user_id].blank? %>
                                <li><%=link_to('My Account', {:controller=>'users',:action=>'show', :id=>session[:user_id]})%> |</li>
                                <li><%=link_to('Main Manu', {:controller=>'admin',:action=>'index'})%>
                                </li>
                            <%end%>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <header class="span3">
                        <div class="hero-unit" style="padding:5px;">
                            News
                        </div>
                </header>
                <header class="span9">
                    <div class="hero-unit" style="padding-left:10px;">
                            <%if !flash[:notice].blank?%>
                                <div style="border:1px solid black;border-color:#CC0000; font-size:14px;text-align:center;">
                                <%=flash[:notice]%>
                                </div>
                            <%end%>
                            

                            <%= yield%>   
                    </div>
                </header>
            </div>
            <footer style="background:#333;color:#666666">
                Copyright 2013 Becka
            </footer>
        </div>
                    
            
    </body>
</html>